# Latest version when this was created
FREESWITCH_VERSION=1.10.9

# Latest version when this was created
POSTGRES_VERSION=14-alpine

# Nginx requires 1.19 and above to support environment variables
NGINX_VERSION=alpine

# PHP 7.2+ from debian or ubuntu only because fusionpbx uses GLOB_BRACE
PHP_VERSION=8.2.5-fpm
XDEBUG_VERSION=3

# FreeSWITCH Debian version number 10, 11 (9 might work with some package adjustments)
# You will have to build manually if this is adjusted after first launch
DEBIAN_VERSION=11

# key for IDE for xdebug to connect
IDEKEY=netbeans-xdebug
