!.keep
!.gitkeep
.env
freeswitch/build/freeswitch/
freeswitch/build/sofia-sip/
freeswitch/build/spandsp/
nbproject/
freeswitch/build/sounds/
freeswitch/sounds/
freeswitch/db/*
freeswitch/autoload_configs/modules.conf.xml
freeswitch/conf/vars.xml
fusionpbx/cache/*
fusionpbx/etc/config.conf
fusionpbx/fusionpbx/
postgres/db/pgdata/
