!.keep
!.gitkeep
.env
freeswitch/build/freeswitch/
freeswitch/build/sofia-sip/
freeswitch/build/spandsp/
nbproject/
freeswitch/build/sounds/
freeswitch/sounds/
freeswitch/db/*
fusionpbx/cache/*
fusionpbx/etc/config.conf
postgres/db/pgdata/
